{% extends 'base.html' %}
{% block content %}
<style>
    .tab-content{
    max-height: 490px;
    overflow-y: auto;
    }
    .tab1-content {
        max-height: 468px;
        overflow-y: auto;
    }
</style>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ Welcome section ] start -->
                            <div class="col-md-12">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <div class="d-flex align-items-center">
                                            <img src="{{ user.profile_picture.url }}" class="rounded-circle me-3"
                                                width="120" height="120">
                                            <div class="ml-4">
                                                <h3 class="mb-3">Welcome, {{ user.username }}</h3>
                                                <h6 class="f-w-400 m-0">Secure your data with Encryption, Steganography,
                                                    Watermarking and Tampering — All in one place.</h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- [ Welcome section ] end -->

                            <!--[ Stegnography files section ] start-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h4 class="mb-4">Stegnography</h4>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h4 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                        class="feather icon-eye-off text-c-green f-20 m-r-20"></i>
                                                    {{steganography_count}} Operations</h4>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar"
                                                style="width: {{ progress_data.Steganography }}%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ Stegnography files section ] end-->
                            <!--[ Cryptography files section ] starts-->
                            <div class=" col-md-6 col-xl-4">
                                                <div class="card Monthly-sales">
                                                    <div class="card-block">
                                                        <h4 class="mb-4">Cryptography</h4>
                                                        <div class="row d-flex align-items-center">
                                                            <div class="col-9">
                                                                <h4 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                                        class="feather icon-lock text-c-green f-20 m-r-20"></i>
                                                                    {{cryptography_count}} Operations</h4>
                                                            </div>
                                                        </div>
                                                        <div class="progress m-t-30" style="height: 7px;">
                                                            <div class="progress-bar progress-c-theme2"
                                                                role="progressbar"
                                                                style="width: {{ progress_data.Cryptography }}%;">

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--[ Cryptography files section ] end-->
                                            <!--[ Watermarking files section ] starts-->
                                            <div class="col-md-12 col-xl-4">
                                                <div class="card yearly-sales">
                                                    <div class="card-block">
                                                        <h4 class="mb-4">Forensic Watermarking</h4>
                                                        <div class="row d-flex align-items-center">
                                                            <div class="col-9">
                                                                <h4 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                                        class="feather icon-shield text-c-green f-20 m-r-20"></i>
                                                                    {{watermarking_count}} Operations</h4>
                                                            </div>
                                                        </div>
                                                        <div class="progress m-t-30" style="height: 7px;">
                                                            <div class="progress-bar progress-c-theme"
                                                                role="progressbar"
                                                                style="width: {{ progress_data.Watermarking }}%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--[ Watermarking files section ] end-->

                                            <!--[ Tampering files section ] starts-->
                                            <div class="col-md-12 col-xl-4">
                                                <div class="card yearly-sales">
                                                    <div class="card-block">
                                                        <h4 class="mb-4">Tampering Detection</h4>
                                                        <div class="row d-flex align-items-center">
                                                            <div class="col-9">
                                                                <h4 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                                        class="feather icon-search text-c-green f-20 m-r-20"></i>
                                                                    {{tampering_count}} Operations</h4>
                                                            </div>
                                                        </div>
                                                        <div class="progress m-t-30" style="height: 7px;">
                                                            <div class="progress-bar progress-c-theme"
                                                                role="progressbar"
                                                                style="width: {{ progress_data.Tampering }}%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--[ Tampering files section ] end-->

                                            <!--[ Guide section ] starts -->
                                            <div class="col-md-12 col-xl-4">
                                                <div class="card yearly-sales">
                                                    <div class="card-block">
                                                        <h4 class="mb-5"><i
                                                                class="feather icon-file-text text-c-green f-20 m-r-20"></i>Guide
                                                            and
                                                            Support</h4>
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col-9 mb-3">
                                                                <a href="{% url 'Guide' %}">
                                                                    <h5
                                                                        class="f-w-300 d-flex align-items-center  m-b-0">
                                                                        Guidance & Assistance</h5>
                                                            </div>
                                                            <div class="pr-4">
                                                                <i class="fas fa-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--[ Guide section ] end -->

                                            <!--[ Activity log section ] start-->

                                            <div class="col-xl-6 col-md-12 m-b-30">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home"
                                                            role="tab" aria-controls="home"
                                                            aria-selected="true">Today's Activities</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="profile-tab"
                                                            data-toggle="tab" href="#profile" role="tab"
                                                            aria-controls="profile" aria-selected="false">
                                                            Weekly Activities</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="contact-tab" data-toggle="tab"
                                                            href="#contact" role="tab" aria-controls="contact"
                                                            aria-selected="false">All Activities</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade active show" id="home" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Activity</th>
                                                                    <th>Timestamp</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for activity in today_logs %}
                                                                <tr>
                                                                    <td>{{ activity.action }}</td>
                                                                    <td>{{ activity.timestamp }}</td>

                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="3" class="text-center">No recent
                                                                        activity</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                                        aria-labelledby="profile-tab">
                                                        
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Activity</th>
                                                                        <th>Timestamp</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for activity in this_week_logs %}
                                                                    <tr>
                                                                        <td>{{ activity.action }}</td>
                                                                        <td>{{ activity.timestamp }}</td>

                                                                    </tr>
                                                                    {% empty %}
                                                                    <tr>
                                                                        <td colspan="3" class="text-center">No recent
                                                                            activity</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        

                                                    </div>
                                                    <div class="tab-pane fade" id="contact" role="tabpanel"
                                                        aria-labelledby="contact-tab">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Activity</th>
                                                                    <th>Timestamp</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for activity in all_logs %}
                                                                <tr>
                                                                    <td>{{ activity.action }}</td>
                                                                    <td>{{ activity.timestamp }}</td>

                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="3" class="text-center">No recent
                                                                        activity</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <!--[ Activity log section ] end-->

                                            <!--[ Recent Login ] start-->

                                            <div class="col-xl-6 col-md-6 mb-2">
                                                <div class="card Recent-Users">
                                                    <div class="card-header">
                                                        <h5>Recent Login</h5>
                                                    </div>
                                                    <div class="card-body tab1-content table-border-style">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Timestamp</th>
                                                                    <th>IP Address</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for login in recent_logins %}
                                                                <tr>
                                                                    <td>{{ login.login_time }}</td>
                                                                    <td>{{ login.ip_address }}</td>
                                                                    <td>
                                                                        {% if login.status == "Successfull Login" %}
                                                                        <span
                                                                            class="label bg-success text-white f-13">Success</span>
                                                                        {% else %}
                                                                        <span class="label text-white f-13"
                                                                            style="background-color: red;">Failed</span>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                {% empty %}
                                                                <tr>
                                                                    <td colspan="3" class="text-center">No recent login
                                                                        attempts</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--[ Recent Login ] end-->

                                        </div>
                                        <!-- [ Main Content ] end -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- [ Main Content ] end -->

                {% endblock %}